.TodoSearch {
    display: flex;
    margin: 0 auto;
    width: 80%;
    height: 48px;
    font-size: 24px;
    text-align: center;
    font-weight: 400;
    color: #1E1E1F;
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
}

.TodoSearch::placeholder {
    color: #A5A5A5;
    font-family: 'cursive';
    font-weight: 400;
}

.TodoSearch:focus {
    outline-color: #61DAFA;
}